[submodule "libraries/glfw"]
	path = libraries/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libraries/cyCodeBase"]
	path = libraries/cyCodeBase
	url = https://github.com/cemyuksel/cyCodeBase.git
